.index-page-container {
  .title-container {
    @apply w-full;
  }
  .title {
    @apply flex w-full justify-center max-w-[80%];
    @apply font-bold text-[30px] text-center text-white;
    /* @apply bg-[rgba(0,0,0,0.5)]; */
    @apply md:text-[35px];
    @apply lg:text-[40px];
  }
  .call-to-action {
    @apply flex flex-wrap w-full justify-center gap-[20px] text-[#011F7C];
  }
  .services {
    @apply text-white bg-[rgba(0,0,0,0.1)] rounded-[10px];
    @apply flex flex-wrap w-[80%] items-center justify-evenly text-center gap-[20px] py-[40px] px-[10px];
  }
  .google-reviews-widget {
    @apply flex max-w-full justify-center items-center overflow-hidden;
  }
  @apply flex flex-col items-center w-full bg-center bg-cover gap-[40px] pb-[40px];
}
