.image-text-block-container {
  .text-content {
    @apply text-[18px] text-center flex-1;
    @apply lg:text-[20px] lg:text-left;
  }
  @apply flex flex-col justify-start items-center w-full gap-[20px] mb-[20px];
  @apply md:flex-row-reverse md:gap-[40px] md:text-left;
}
